* {
cursor: pointer;
border-radius: 4px;
transition: transform 0.2s, box-shadow 0.2s;
}


.hero button:hover {
transform: translateY(-3px);
box-shadow: 0 10px 25px rgba(146, 9, 4, 0.4);
}


.cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
padding: 60px 40px;
background-color: var(--preto);
}


.card {
background-color: var(--cinza);
padding: 25px;
border-left: 4px solid var(--vermelho);
transition: transform 0.3s, background-color 0.3s;
}


.card:hover {
transform: translateY(-5px);
background-color: #222;
}


.card h3 {
color: var(--vermelho);
margin-bottom: 10px;
}


footer {
text-align: center;
padding: 20px;
background-color: #050505;
border-top: 1px solid var(--vermelho);
font-size: 0.9rem;
color: #aaa;
}

:root {
--vermelho: #e10600;
--preto: #0b0b0b;
--cinza: #1a1a1a;
--branco: #ffffff;
}

header {
background: linear-gradient(90deg, var(--preto), var(--vermelho));
padding: 20px 40px;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid var(--vermelho);
}

h1 {
color: var(--branco);
}


.hero p {
max-width: 700px;
color: #ddd;
margin-bottom: 30px;
}


.hero button {
background-color: var(--vermelho);
border: none;
padding: 15px 35px;
color: var(--branco);
font-size: 1.1rem;
cursor: pointer;
border-radius: 5px;
}


.hero button:hover {
box-shadow: 0 0 20px rgba(225, 6, 0, 0.6);
}


.games {
padding: 60px 40px;
}


.games h2 {
text-align: center;
color: var(--vermelho);
margin-bottom: 40px;
font-size: 2.5rem;
}


.game-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 25px ;
}

head {
background: linear-gradient(90deg, var(--preto), #000);
padding: 20px 40px;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid var(--vermelho);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav a {
    margin: 10px;
    display: inline-block;
  }

  .hero h2 {
    font-size: 2rem;
  }
}

body {
background: linear-gradient(90deg, var(--preto), var(--vermelho));
}
 
h2 {
color: var(--branco);
} 

P1 {
color: var(--branco);
} 

.header button {
background-color: var(--vermelho);
border: none;
padding: 10px 20px;
color: var(--branco);
font-size: 1rem;
cursor: pointer;
border-radius: 5px;
}

img {
width: 140px;
height: 140px;
border-radius: 8px;
} 